<div>
    <h3>АМКУ завів справу на Нафтогаз через ціну на газ</h3>
    <div>
        Антимонопольний комітет почав розслідування проти Нафтогазу за підозрою у завищенні цін на газ для населення і зловживанні монопольним становищем на ринку. Про це повідомляє прес-служба АМКУ в понеділок, 2 березня. ЗА ТЕМОЮ Ціна газу на торгах впала нижче
        за 4000 грн - оператор Ціна газу на торгах впала нижче за 4000 грн - оператор 24 лютого 2020, 10:43 За даними комітету, Нафтогаз встановлював ціни для промислових споживачів вищі від тих, які були на Українській енергетичній біржі і на європейських
        хабах. "Нафтогаз України" за порушення Закону України Про захист економічної конкуренції у вигляді зловживання монопольним становищем на ринках природного газу шляхом встановлення, починаючи з 1 листопада 2018 року, ціни на природний газ на рівні,
        який неможливо було б встановити за умов існування значної конкуренції", - йдеться в повідомленні. Відзначається, що саме Нафтогаз продає природний газ постачальникам для потреб побутових споживачів, тобто населення. При цьому компанія встановлює
        на цьому сегменті ринку ціни, засновані на ціні для промисловості, запропонованій цією ж компанією. "За наявною в Комітеті інформацією, Нафтогаз України встановлював для промислових споживачів ціни, які вищі за ті, що сформувалися б в умовах конкуренції,
        зокрема, за результатами електронних біржових торгів на ТБ Українська енергетична біржа і на європейських хабах за умовами доставки газу до кордону України (NCG)", - зазначив регулятор. Відзначимо, на лютий Нафтогаз знизив ціну на газ для населення
        на 15% - до 3 950 гривень за тисячу кубометрів, що є мінімумом за чотири роки. Варто відзначити, що минулого року газ подешевшав, приблизно, на третину, але до цього кілька років тримався на високому рівні.
    </div>
    <div class="end">
        <p>02.03.2020</p>
        <p>Корреспондент.net</p>
    </div>
</div>