button {
    height: 50px;
    border-radius: 7px;
    border: none;
    color: black;
    font-size: 19px;
    margin-right: 20px;
    cursor: pointer;
}

.end {
    display: flex;
    justify-content: space-between;
}